<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
        <script src="{{ url_for('static', filename='metricsgraphics.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='metricsgraphics.css') }}">

    </head>

    <style>

    body {
        font-family: Arial;
    }

    </style>
    <body>
        <div id="approval"></div>


        <script>

            var data = {{ data[:100] | tojson }}
            data = MG.convert.date(data, 'enddate', "%m/%d/%Y");
            MG.data_graphic({
        title: "Trump Approval Ratings, Gallup",
        
        data: data,
        width: 500,
        height: 400,
        right: 40,
        target: document.getElementById('approval'),
        x_accessor: 'enddate',
        y_accessor: 'adjusted_approve',
        animate_on_load: true,
        area: false,
        color: '#f4425f',
        yax_units: '%'

    });


        </script>
        
    </body>
</html>